* {
    text-align: center;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    /* #0bae72 */
  }
  
  body {
    min-width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgb(194, 194, 194);
  }

  h1 {
    margin-bottom: 1vh;
  }

  .container {
    width: 90vw;
    min-height: 45vh;
    max-width: 1024px;
  }
  
  
  .flex-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  

  .form {
    width: 100%;
    margin-top: 4rem;
  } 

  .form-submit-btn {
    display: block;
    margin: 0 0 2rem;
    padding: 1rem 2rem;
    cursor: pointer;
    background: #000000;
    color: #ffffff;
    border: none;
    border-radius: 0.4rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: .1rem;
    text-shadow: 0 0.04rem 0.04rem rgba(255, 255, 255, 0.253);
  }
  
  .form-submit-btn:hover {
    color: rgb(185, 24, 110);
    background-color: rgb(255, 255, 255);
  }

  .form-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    min-width: 280px;
    max-width: 500px;
    margin-bottom: .5vh;
    padding: .4rem .6rem;
    border-radius: 100px;
    cursor: pointer;
    
  }

  .form-label:hover,
  .form-label:focus-within {
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.692), rgb(255, 255, 255));
  }

  .form-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    z-index: -1;
  }

  .form-name {
    color: rgb(88, 88, 88);
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8rem;
  }

  .form-point {
    color: rgb(88, 88, 88);
    font-weight: 700;
    font-size: .8rem;
  }

  .form-input:checked~.form-name,
  .form-input:checked~.form-point  {
    color: rgb(185, 24, 110);
  }

  .points {
    height: 3vh;
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 1.5rem;
  }
  
  .question {
    margin: 3rem 0;
    font-size: 1.2rem;
  }
  
  .options {
    min-height: 16vh;
    display: grid;
    row-gap: 4%;
    column-gap: 2%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    font-size: 1rem;
  }
  
  .answers {
    min-height: 50px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(58, 58, 58);
    color: rgb(255, 255, 255);
  }
  
  .answers:hover {
    border: 3px solid rgb(255, 255, 255);
  }
  
  
  .counter {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;
    width: .8vw;
    min-width: 6px;
    background: rgb(185, 24, 110);
  }

  .counter-slide-animation {
      animation: slidedown 21s;
      animation-timing-function: linear;

  }

  .popup-description {
    width: 75%;
    max-width: 500px;
    color: rgb(185, 24, 110); 
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8rem;
    letter-spacing: .1rem;
    padding: 0;
    margin-bottom: 1rem;
  }

  .popup-description-paragraph {
    margin-bottom: .1rem;
  }

  footer {
    position: absolute;
    bottom: 1rem;
    margin-top: 4rem;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    visibility: hidden;
  }
  .footer-anchor {
    margin-left: 0.5rem;
    text-decoration: underline;
    color: rgb(0, 0, 0);
  }
  
  .footer-anchor:hover {
    text-decoration: underline;
    color: rgb(185, 24, 110);
  }
  
  @keyframes slidedown {
      from {
        top: 0;
      }
      to {
        top: 100%;
      }
  }


  @media screen and (min-width: 370px) {
    footer {
      visibility: visible;
    }
  }
  
  @media screen and (min-width: 762px) {
    .form-description {
      font-size: 1rem;
    }

    .form-name {
      letter-spacing: .3rem;
      font-weight: 900;
      font-size: 1rem;
    }

    .form-point {
      letter-spacing: .3rem;
      font-weight: 900;
      font-size: 1rem;
    }

    .form-submit-btn {
      font-size: 1em;
    }
  
    .question {
      font-size: 1.5rem;
    }
  
    .options {
      font-size: 1.2rem;
      row-gap: 4%;
      column-gap: 2%;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
  


  /*
  This classes added with javascript
  */
  
  .markedAnswer {
    background: rgb(247, 162, 5);
  }
  
  .correctAnswer {
    background: rgb(17, 161, 17);
  }
  
  .wrongAnswer { 
    background: rgb(202, 14, 14);
  }
  
  .visible {
    visibility: visible;
  }